<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Create new fighter</title>
  <link rel="stylesheet" type="text/css" href="create-fighter.css">
</head>
<body>
  <div class="create-fighter-container">
    <div class="content-wrapper">
      <a href="../index.html"><button class="back-btn">Go back</button></a>

      <div class="create-fighter-wrapper">
        <h2 class="create-fighter-header">Create new fighter</h2>
        <label for="fighter-name">name:</label>
        <input type="text" name="newFighterName" id="fighter-name" value="">
        <label for="fighter-health">health:</label>
        <input type="text" name="newFighterHealth" id="fighter-health" value="">
        <label for="fighter-attack">attack:</label>
        <input type="text" name="newFighterAttack" id="fighter-attack" value="">
        <label for="fighter-defense">defense:</label>
        <input type="text" name="newFighterDefense" id="fighter-defense" value="">
        <label for="fighter-source">source:</label>
        <input type="text" name="newFighterSource" id="fighter-source" value="">

        <a href="../index.html"><button class="save-fighter-btn">Save</button></a>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="create-fighter.js"></script>
</body>
</html>
